/* Mixins & Functions */

/* calculate font sizes for different break points */
@function calcRem($size) {
  @return #{$size}rem;
}

@mixin fontSize($fontSize) {
  $remSize1: $fontSize * 0.65;
  $remSize2: $fontSize * 0.9;

  font-size: calcRem($remSize1);

  @include phablet {
    font-size: calcRem($remSize2);
  }

  @include desktop {
    font-size: calcRem($fontSize);
  }
}

@mixin textShadow($color) {
  text-shadow: $color 2px 2px;
}

@mixin button($background, $font, $hover) {
  padding: $xx-sm $sm;
  background-color: $background;
  box-shadow: $black 3px 3px 8px 2px;
  color: $font;
  font-weight: 600;
  border-radius: $med;
  display: inline-block;
  letter-spacing: 1.2px;
  font-size: 1rem;
  position: relative;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: $hover;
    color: $font;
    box-shadow: none;
  }
}