// colors
$red: #c8102e;
$mustard: #c5b9ac;
$orange: #dc582a;
$aioli: #d6d2c4;
$white: #fff;
$black: #2d2926;

// margins & paddings
$xxx-sm: 5px;
$xx-sm: 10px;
$x-sm: 15px;
$sm: 20px;
$med: 25px;
$lrg: 30px;
$x-lrg: 35px;
$xx-lrg: 40px;
$xxx-lrg: 45px;
$huge: 50px;

//$site-font: rawline, 'Story Sans', Geneva, Verdana, sans-serif;
$font-size: 16px;
