/* The scss for the default booking.php page. */

#bookingContainer {
  background-color: $aioli;

  h1.not-in-image {
    padding: $med 0;
    color: $white;
    @include textShadow($black);
  }

  content {
    margin: $xx-lrg 0;
    display: block;
  }

  .booking-desc {
    color: $white;
    padding: $x-sm;
    border-radius: 4px;
    border: solid 4px $orange;
    box-shadow: $black 1px 1px 4px 1px;
    margin-bottom: $med;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: 1;
    transition: all 0.3s ease-in;

    h3 {
      @include textShadow($black);
    }

    &:hover {
      box-shadow: $black 3px 3px 6px 3px;
      border: solid 4px $mustard;
      opacity: 0.9;
    }

    @include tablet {
      padding: $lrg;
    }
  }
}

#bookingContacts {
  padding: $xx-lrg 0;
  color: $white;

  h2,
  h3 {
    @include textShadow($black);
  }

  a {
    margin: $x-sm 0;
  }
}

#popupForm {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($black, 0.65);
  z-index: 2000;

  .contact-form {
    color: $black;
    width: 90%;
    max-width: 550px;
    max-height: 80%;
    overflow-y: scroll;
    background-color: $aioli;
    box-shadow: $black 8px 8px 12px 6px;
    margin: $huge auto 0 auto;
    border-radius: 4px;
    padding: $sm;

    @include tablet {
      width: 80%;
      margin-top: 75px;
      padding: $lrg;
    }

    #close {
      font-size: 2em;
      font-weight: 800;
      float: right;
      cursor: pointer;
    }

    h3 {
      @include textShadow($white);
      margin-top: $xx-sm;
    }

    form {
      text-align: center;
      margin: auto;

      label {
        text-align: left;
        font-weight: 600;
        width: 100%;
      }

      input {
        outline: none;
        padding: $xxx-sm;
        border: none;
        background: none;
        border-bottom: $black solid 2px;
        width: 100%;
      }

      textarea {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: $black solid 2px;
      }

      input[type='submit'] {
        background-color: $orange;
        font-weight: 600;
        font-size: 1.4em;
        color: $white;
        @include textShadow($black);
        border: 1px solid $black;
        box-shadow: $black 2px 2px 4px 2px;
        border-radius: 4px;
        transition: 0.3s all ease;

        &:hover {
          background-color: $black;
          box-shadow: none;
        }
      }
    }
  }
}