@import './variables';
@import './media-queries';
@import './fonts';
@import './mixins-functions';

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	//font-family: rawline, sans-serif;
}

body {
	background-color: $red;
	color: $black;
	font-family: $site-font;
	font-size: 0.9rem;
	letter-spacing: 0.4px;

	@include tablet {
		font-size: 1rem;
	}
}

a {
	color: $white;
	text-decoration: none;
	border-bottom: 1px solid $white;

	&:hover {
		color: $black;
		border-bottom: 1px solid $black;
		text-decoration: none;
	}
}

.link-no-border {
	border-bottom: none;

	&:hover {
		border-bottom: none;
	}
}

.primary-button {
	@include button($red, $white, $black);
}

.secondary-button {
	@include button($aioli, $black, $orange);
}

.white {
	color: $white;
}

.red-bg {
	background-color: $red;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0 0 $sm;
	font-weight: 600;
	font-family: $header-font;
	letter-spacing: 1px;
}

h1 {
	@include fontSize(2.8);
}

h2 {
	@include fontSize(2.5);
}

h3 {
	@include fontSize(2.2);
}

h4 {
	@include fontSize(1.8);
}

h5 {
	@include fontSize(1.4);
}

p {
	margin: 0 0 $sm;
}

ul {
	list-style: none;
}

.center-content {
	text-align: center;
}

.bottom-neg40 {
	bottom: -$xx-lrg;
}

.padding-bottom-40 {
	padding-bottom: $xx-lrg;
}

.padding-top-40 {
	padding-top: $xx-lrg;
}

.hidden {
	display: none !important;
}

.shown {
	display: initial;
}

@import './header.scss';
@import './footer.scss';
@import './front-page.scss';
@import './product-container.scss';
@import './about-us.scss';
@import './menu.scss';
@import './franchise.scss';
@import './bookings.scss';
@import './defaultPage.scss';
@import './locations.scss';