#contactPage{
  background-color: $mustard;

  form {
    text-align: center;
    margin: auto;
    background-color: $aioli;
    max-width: 600px;
    padding: $med;
    border-radius: 4px;
    box-shadow: $black 4px 4px 4px 4px;

    label {
      text-align: left;
      font-weight: 600;
      width: 100%;
    }

    input {
      outline: none;
      padding: $xxx-sm;
      border: none;
      background: none;
      border-bottom: $black solid 2px;
      width: 100%;
    }

    textarea {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: $black solid 2px;
    }

    input[type='submit'] {
      background-color: $orange;
      font-weight: 600;
      font-size: 1.4em;
      color: $aioli;
      // @include textShadow($black);
      border: 1px solid $black;
      box-shadow: $black 2px 2px 4px 2px;
      border-radius: 4px;
      transition: 0.3s all ease;

      &:hover {
        background-color: $black;
        box-shadow: none;
      }
    }
  }
}