/* Footer.scss */

footer {
  color: aioli;
  padding: $sm 0;

  img {
    height: $x-lrg;
    width: auto;
    margin: 0 $xx-sm;
  }

  #social,
  #siteFooterText {
    height: $x-lrg;
    display: flex;
    align-items: center;
    margin: $xxx-sm 0;

    @include tablet {
      margin: 0;
    }
  }

  #siteFooterText {
    justify-content: flex-start;

    p {
      margin: 0;
      padding-left: $xx-sm;
    }

    @include tablet {
      justify-content: flex-end;
    }
  }

  #social {
    justify-content: flex-start;
  }

  @include tablet {
    padding: $lrg 0;
  }
}