header {
	background-color: $red;
	z-index: 100;
	width: 100%;
	position: fixed;
	height: 180px;
	padding: $med 0 $x-sm 0;
	text-align: center;

	@include phablet {
		height: 215px;
	}

	@include tablet {
		height: 230px;
	}

	#logo {
		max-width: 140px;

		@include phablet {
			max-width: 175px;
		}
	}

	#headerIcon {
		position: fixed;
		top: 140px;
		right: $xx-lrg;
		width: $huge;
		height: auto;
	}

	// Menu
	.open {
		position: fixed;
		top: 80px;
		left: $lrg;
		width: $huge;
		height: $huge;
		display: block;
		cursor: pointer;
		transition: all 0.2s linear;
		border-radius: 50%;
		background-color: $orange;

		@include phablet {
			top: 140px;
			left: $xx-lrg;
		}

		&:hover {
			background-color: $black;
		}

		span {
			height: 4px;
			width: $med;
			border-radius: $xx-lrg;
			background-color: $aioli;
			position: absolute;
			right: 11px;
			top: 8px;
			overflow: hidden;
			transition: all 0.4s ease;

			&:nth-child(1) {
				margin-top: $xxx-sm;
				z-index: 9;
			}

			&:nth-child(2) {
				margin-top: $x-sm;
			}

			&:nth-child(3) {
				margin-top: $med;
			}
		}
	}

	#menu-main-menu {
		transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		top: 0;
		bottom: 0;
		width: 65%;
		position: absolute;
		background-color: $black;
		border-radius: 0;
		z-index: 18;
		margin-top: 0;
		max-width: 320px;
		cursor: initial;
		text-align: left;

		li {
			float: left;
			margin-left: $huge;
			transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			width: 65%;
			max-width: 180px;

			@include phablet {
				width: 100%;
				max-width: 190px;
				margin-left: 80px;
			}

			&:first-child {
				margin-top: $huge;
			}

			&:nth-child(1) {
				transition-delay: 0.05s;
			}

			&:nth-child(2) {
				transition-delay: 0.1s;
			}

			&:nth-child(3) {
				transition-delay: 0.15s;
			}

			&:nth-child(4) {
				transition-delay: 0.2s;
			}

			&:nth-child(5) {
				transition-delay: 0.25s;
			}

			a {
				transition: all 0.2s ease;
				color: $aioli;
				font-size: 16px;
				width: 100%;
				display: block;
				float: left;
				font-weight: 600;
				margin: $xx-sm 0;
				text-decoration: none;
				border-bottom: none;

				&:hover {
					color: $orange;
				}
			}
		}
	}

	.opened {
		#menu-main-menu {
			opacity: 1;
			height: 100%;
		}

		span:nth-child(2) {
			margin-top: 0;
		}

		span:nth-child(1),
		span:nth-child(3) {
			z-index: 100;
			transform: rotate(45deg);
		}

		span:nth-child(1) {
			transform: rotate(45deg) translateY(8px) translateX(6px);
		}

		span:nth-child(2) {
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			position: fixed;
			border-radius: 0;
			background-color: rgba($black, 0.65);
		}

		span:nth-child(3) {
			transform: rotate(-45deg) translateY(-8px) translateX(6px);
		}
	}

	#topLinks {
		width: 100%;
		position: fixed;
		left: 0;
		right: 0;
		top: 75px;
		display: none;

		@include desktop {
			display: initial;
		}

		#menu-top-links {
			width: 700px;
			display: inline-flex;
			padding: 0;
			justify-content: space-between;

			li {
				width: 200px;

				&:first-child {
					text-align: right;
				}

				&:last-child {
					text-align: left;
				}
			}
		}
	}
}

#headerBuffer {
	height: 190px;

	@include phablet {
		height: 225px;
	}

	@include tablet {
		height: 240px;
	}
}

#imageHeader {
	min-height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;

	h1 {
		margin-top: $xx-lrg;
		padding: $sm;
		background-color: rgba($aioli, 0.65);
		@include textShadow($orange);

		@include tablet {
			padding: $lrg;
		}
	}

	@include phablet {
		min-height: 300px;
	}

	@include tablet {
		min-height: 360px;
	}

	@include desktop {
		min-height: 440px;
	}
}